<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.24.6" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.3.14" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net452" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Microting.eForm" version="3.0.32" targetFramework="net461" />
  <package id="Microting.WindowsService.BasePn" version="1.1.9" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.9.12" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Rebus" version="4.2.1" targetFramework="net452" />
  <package id="Rebus.Castle.Windsor" version="4.1.0" targetFramework="net452" />
  <package id="Rebus.SqlServer" version="4.0.0" targetFramework="net452" />
</packages>