<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.31.3" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.3.50" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net452" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Proxies" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Microting.eForm" version="3.0.145" targetFramework="net461" />
  <package id="Microting.WindowsService.BasePn" version="1.1.13" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net461" />
  <package id="MySqlConnector" version="0.48.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Pomelo.EntityFrameworkCore.MySql" version="2.1.4" targetFramework="net461" />
  <package id="Pomelo.JsonObject" version="2.0.0" targetFramework="net461" />
  <package id="Rebus" version="5.2.1" targetFramework="net461" />
  <package id="Rebus.Castle.Windsor" version="4.1.0" targetFramework="net452" />
  <package id="Rebus.MySql" version="1.1.1" targetFramework="net461" />
  <package id="Rebus.SqlServer" version="5.0.3" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
</packages>