<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="location_inbound" value="C:\\windowsservice_test\\inbound"/>
    <add key="location_parsed" value="C:\\windowsservice_test\\parsed"/>
    <add key="location_outbound" value="C:\\windowsservice_test\\outbound"/>
  </appSettings>
</configuration>